@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;   
}

h1.name {
    font-size: 28px;
}

header.main {
    display: flex;
    color: white;
    background-color: #201E1D;
    justify-content: space-between;
    align-items: center;
    padding: 15px 7%;
}

ul.nav {
    list-style: none;
}

ul.nav, li.navitem > a {
    color: white;
    text-decoration: none;
}

.navitem {
    display: inline-block;
    padding: 0px 15px;
}

.bg-img {
    height: 800px; 
    width: 100%;
}


h1.mainheader {
    margin: 10px auto;
    text-align: center;
    color: whitesmoke;
}

body.index {
    background-color: #201E1D;
}

.container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    background-color: lightgray;
}
h2.title {
    padding-top: 15px;
}

div.box {
    display: inline-flexbox;          
}

ul.list {
    margin: 10px;
}

li.listitem {
    margin: 5px 5px;
}

footer.foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

h2.foot {
    color: whitesmoke;
    margin: 20px 20px 20px 20px;
}

ul.foot {
    color: white;
    margin: 0 30px;
}

li.foot {
    margin: 10px 0px;
}

a.foot {
    color: whitesmoke;
    text-decoration: none;
}

a.foot:hover {
    color: gray;
}