@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;   
}

h1.name {
    font-size: 28px;
}

header.main {
    display: flex;
    color: white;
    background-color: rgb(32, 30, 29);
    justify-content: space-between;
    align-items: center;
    padding: 15px 7%;

}

ul.nav {
    list-style: none;
}

ul.nav, li.navitem > a {
    color: white;
    text-decoration: none;
}

.navitem {
    display: inline-block;
    padding: 0px 15px;
}

.bg-img {
    height: 800px; 
    width: 100%;
}


h1.mainheader {
    margin: 10px auto;
    text-align: center;
    color: whitesmoke;
}

body.index {
    background-color: #201E1D;
}

.container2 {
    height: fit-content;
}

h1.mainheader {
    font-size: 36px;
    padding: 15px;
}

.container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    background-color: lightgray;
}

h2.title {
    font-size: 36px;
}

div.box {
    display: inline-flexbox;   
    height: 400px;
    width: 300px;
    border: 2px solid black; 
    margin: 30px auto;      
    padding: 30px;
    background-color: #ecffd4;
}

ul.list {
    font-size: 24px;
    margin-top: 20px;
    padding: 10px;
}

li.listitem {
    margin-top: 15px;
}

footer.foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

footer {
    background-color: #201E1D;
}

div.foot {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

h2.foot {
    color: whitesmoke;
    margin: 20px 20px 20px 20px;
}

ul.foot {
    color: white;
    margin: 0px 30px;
}

li.foot {
    margin: 10px 0px;
}

a.foot {
    color: whitesmoke;
    text-decoration: none;
}

a.foot:hover {
    color: gray;
}

img.tile {
    height: 150px;
    width: 150px;
    margin: 20px auto;
}

div.tile {
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
}

h1.mainheaderabout {
    text-align: center;
    margin: 30px auto;
}

div.container-values {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    justify-content: center;
    margin: 0 auto;
}

h1.tile , p.values {
    text-align: center;
}